-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: airline_analytics
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `staging_flights`
--

DROP TABLE IF EXISTS `staging_flights`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staging_flights` (
  `flight_date` date DEFAULT NULL,
  `year` int DEFAULT NULL,
  `month` int DEFAULT NULL,
  `dayofmonth` int DEFAULT NULL,
  `dayofweek` int DEFAULT NULL,
  `airline_code` varchar(10) DEFAULT NULL,
  `flight_number` int DEFAULT NULL,
  `origin` char(3) DEFAULT NULL,
  `dest` char(3) DEFAULT NULL,
  `distance` int DEFAULT NULL,
  `dep_delay` float DEFAULT NULL,
  `arr_delay` float DEFAULT NULL,
  `cancelled` tinyint DEFAULT NULL,
  `diverted` tinyint DEFAULT NULL,
  KEY `idx_staging_flight_date` (`flight_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `flights_fact_daily`
--

DROP TABLE IF EXISTS `flights_fact_daily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flights_fact_daily` (
  `flight_date` date NOT NULL,
  `airline_id` int NOT NULL,
  `origin_airport_id` int NOT NULL,
  `dest_airport_id` int NOT NULL,
  `total_flights` int DEFAULT NULL,
  `cancelled_flights` int DEFAULT NULL,
  `diverted_flights` int DEFAULT NULL,
  `avg_dep_delay` float DEFAULT NULL,
  `avg_arr_delay` float DEFAULT NULL,
  `total_distance` bigint DEFAULT NULL,
  PRIMARY KEY (`flight_date`,`airline_id`,`origin_airport_id`,`dest_airport_id`),
  KEY `idx_daily_date` (`flight_date`),
  KEY `idx_daily_airline` (`airline_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `flights_fact_monthly`
--

DROP TABLE IF EXISTS `flights_fact_monthly`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flights_fact_monthly` (
  `year` int NOT NULL,
  `month` int NOT NULL,
  `airline_id` int NOT NULL,
  `total_flights` bigint DEFAULT NULL,
  `cancelled_flights` bigint DEFAULT NULL,
  `diverted_flights` bigint DEFAULT NULL,
  `avg_dep_delay` float DEFAULT NULL,
  `avg_arr_delay` float DEFAULT NULL,
  `total_distance` bigint DEFAULT NULL,
  PRIMARY KEY (`year`,`month`,`airline_id`),
  KEY `idx_monthly_airline_time` (`airline_id`,`year`,`month`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `airlines_dim`
--

DROP TABLE IF EXISTS `airlines_dim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `airlines_dim` (
  `airline_id` int NOT NULL AUTO_INCREMENT,
  `airline_code` varchar(10) DEFAULT NULL,
  `airline_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`airline_id`),
  UNIQUE KEY `airline_code` (`airline_code`)
) ENGINE=InnoDB AUTO_INCREMENT=1491 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `airports_dim`
--

DROP TABLE IF EXISTS `airports_dim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `airports_dim` (
  `airport_id` int NOT NULL AUTO_INCREMENT,
  `airport_code` varchar(5) DEFAULT NULL,
  PRIMARY KEY (`airport_id`),
  UNIQUE KEY `airport_code` (`airport_code`)
) ENGINE=InnoDB AUTO_INCREMENT=316 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `kpi_airline_performance`
--

DROP TABLE IF EXISTS `kpi_airline_performance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_airline_performance` (
  `airline_id` int NOT NULL DEFAULT '0',
  `airline_code` varchar(10) DEFAULT NULL,
  `total_flights` decimal(32,0) DEFAULT NULL,
  `weighted_avg_arr_delay` double DEFAULT NULL,
  `weighted_avg_dep_delay` double DEFAULT NULL,
  `cancelled_flights` decimal(32,0) DEFAULT NULL,
  `diverted_flights` decimal(32,0) DEFAULT NULL,
  `cancellation_rate_pct` decimal(38,2) DEFAULT NULL,
  `diversion_rate_pct` decimal(38,2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `kpi_airport_performance`
--

DROP TABLE IF EXISTS `kpi_airport_performance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_airport_performance` (
  `airport` varchar(5) DEFAULT NULL,
  `total_flights` decimal(32,0) DEFAULT NULL,
  `weighted_avg_arr_delay` double DEFAULT NULL,
  `cancellation_rate_pct` decimal(38,2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `kpi_route_performance`
--

DROP TABLE IF EXISTS `kpi_route_performance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_route_performance` (
  `origin` varchar(5) DEFAULT NULL,
  `destination` varchar(5) DEFAULT NULL,
  `total_flights` decimal(32,0) DEFAULT NULL,
  `weighted_avg_arr_delay` double DEFAULT NULL,
  `cancellation_rate_pct` decimal(38,2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `kpi_monthly_trends`
--

DROP TABLE IF EXISTS `kpi_monthly_trends`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_monthly_trends` (
  `year` int NOT NULL,
  `month` int NOT NULL,
  `airline_id` int NOT NULL,
  `total_flights` decimal(41,0) DEFAULT NULL,
  `avg_arr_delay` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-06 14:37:40
