-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: airline_analytics
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Temporary view structure for view `v_airline_performance`
--

DROP TABLE IF EXISTS `v_airline_performance`;
/*!50001 DROP VIEW IF EXISTS `v_airline_performance`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_airline_performance` AS SELECT 
 1 AS `airline_code`,
 1 AS `total_flights`,
 1 AS `weighted_avg_arr_delay`,
 1 AS `weighted_avg_dep_delay`,
 1 AS `cancellation_rate_pct`,
 1 AS `diversion_rate_pct`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_airport_performance`
--

DROP TABLE IF EXISTS `v_airport_performance`;
/*!50001 DROP VIEW IF EXISTS `v_airport_performance`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_airport_performance` AS SELECT 
 1 AS `airport`,
 1 AS `total_flights`,
 1 AS `weighted_avg_arr_delay`,
 1 AS `cancellation_rate_pct`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_route_performance`
--

DROP TABLE IF EXISTS `v_route_performance`;
/*!50001 DROP VIEW IF EXISTS `v_route_performance`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_route_performance` AS SELECT 
 1 AS `origin`,
 1 AS `destination`,
 1 AS `total_flights`,
 1 AS `weighted_avg_arr_delay`,
 1 AS `cancellation_rate_pct`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_airline_performance`
--

/*!50001 DROP VIEW IF EXISTS `v_airline_performance`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_airline_performance` AS select `a`.`airline_code` AS `airline_code`,sum(`f`.`total_flights`) AS `total_flights`,round((sum((`f`.`avg_arr_delay` * `f`.`total_flights`)) / nullif(sum(`f`.`total_flights`),0)),2) AS `weighted_avg_arr_delay`,round((sum((`f`.`avg_dep_delay` * `f`.`total_flights`)) / nullif(sum(`f`.`total_flights`),0)),2) AS `weighted_avg_dep_delay`,round(((sum(`f`.`cancelled_flights`) / nullif(sum(`f`.`total_flights`),0)) * 100),2) AS `cancellation_rate_pct`,round(((sum(`f`.`diverted_flights`) / nullif(sum(`f`.`total_flights`),0)) * 100),2) AS `diversion_rate_pct` from (`flights_fact_daily` `f` join `airlines_dim` `a` on((`f`.`airline_id` = `a`.`airline_id`))) group by `a`.`airline_code` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_airport_performance`
--

/*!50001 DROP VIEW IF EXISTS `v_airport_performance`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_airport_performance` AS select `ap`.`airport_code` AS `airport`,sum(`f`.`total_flights`) AS `total_flights`,round((sum((`f`.`avg_arr_delay` * `f`.`total_flights`)) / nullif(sum(`f`.`total_flights`),0)),2) AS `weighted_avg_arr_delay`,round(((sum(`f`.`cancelled_flights`) / nullif(sum(`f`.`total_flights`),0)) * 100),2) AS `cancellation_rate_pct` from (`flights_fact_daily` `f` join `airports_dim` `ap` on((`f`.`origin_airport_id` = `ap`.`airport_id`))) group by `ap`.`airport_code` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_route_performance`
--

/*!50001 DROP VIEW IF EXISTS `v_route_performance`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_route_performance` AS select `ao`.`airport_code` AS `origin`,`ad`.`airport_code` AS `destination`,sum(`f`.`total_flights`) AS `total_flights`,round((sum((`f`.`avg_arr_delay` * `f`.`total_flights`)) / nullif(sum(`f`.`total_flights`),0)),2) AS `weighted_avg_arr_delay`,round(((sum(`f`.`cancelled_flights`) / nullif(sum(`f`.`total_flights`),0)) * 100),2) AS `cancellation_rate_pct` from ((`flights_fact_daily` `f` join `airports_dim` `ao` on((`f`.`origin_airport_id` = `ao`.`airport_id`))) join `airports_dim` `ad` on((`f`.`dest_airport_id` = `ad`.`airport_id`))) group by `ao`.`airport_code`,`ad`.`airport_code` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-06 14:38:40
